<ul>
  <li> Visit <a href="/withajax.html">withajax.html</a> example</li>
  <li> Visit <a href="/withget">withget</a> example</li>
  <li> Visit <a href="/withfileapi.html">withfileapi.html</a> example</li>
</ul>
